@use "./_variables.scss" as *;

.d-flex {
    display: flex;
}
.align-center {
    align-items: center;
}
.justify-between {
    justify-content: space-between;
}
.gap-6 {
    gap: 6px;
}
.gap-8 {
    gap: 8px;
}
.gap-10 {
    gap: 10px;
}
.gap-12 {
    gap: 12px;
}
.gap-16 {
    gap: 16px;
}
.gap-24 {
    gap: 24px;
}
.gap-32 {
    gap: 32px;
}

.bold-text {
    font-weight: 700;
}

.primary-color {
    color: $primary-color;
}

