$primary-color: #2BBE48;
$secondary-color: #cdff63;
$pastel-green-color: #EBF5D7;
$mint-color: #84FCCB;
$light-mint-color: #D9FFE9;
$orange-color: #FFA500;
$dark-orange-color: #FF7633;

$black-color: #0c0d0d;
$gray-color: #A4A5A8;
$white-color: #ffffff;

$bg-color: #f4f6f6;
$mobile-bg-color: #e8edf4;

$green-gradient: linear-gradient(135deg, #b1e541 -50%, #0fb661 100%);


$border-radius: 10px;
