<div class="app-modal" id="connect-request-modal" data-app-modal-id="connect-request" role="dialog" aria-modal="true" aria-labelledby="connect-request-modal-title" aria-hidden="true">
    <div class="app-modal__overlay" data-app-modal-close tabindex="-1"></div>
    <div class="app-modal__dialog">
        <button type="button" class="app-modal__close" data-app-modal-close aria-label="Закрыть">
            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                <path d="M6 6L18 18M18 6L6 18" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
            </svg>
        </button>
        <div class="app-modal__body">
            <img class="app-modal__image" src="{{PREFIX}}images/operator-avatar.png" alt="" width="120" height="120" aria-hidden="true" />
            <h2 class="app-modal__title" id="connect-request-modal-title">Запрос на подключение</h2>
            <div class="app-modal__lines app-modal__lines--highlight" data-app-modal-tariff></div>
            <div class="app-modal__lines app-modal__lines--muted" data-app-modal-address></div>
            <form class="app-modal__form" action="#" method="post">
                <input class="app-modal__input" type="text" name="name" placeholder="Ваше имя" autocomplete="name" />
                <input class="app-modal__input" type="tel" name="phone" placeholder="Номер телефона" autocomplete="tel" data-phone-mask />
                <button type="submit" class="app-modal__submit">Отправить запрос</button>
            </form>
        </div>
    </div>
</div>
